.block {
    height: 400px;
    width: 400px;
    background-color: bisque;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    flex-direction: column;
}

.dragText {
    display: flex;
    justify-content: end;
    align-items: center;
}

.root {
    height: 100%;
    width: 100%;
    position: relative;
}

.container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

}