.navStyle {
    background-color: #a5becc;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

.posStyle {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 1.2rem;
}

.radiogroup {
    margin-left: 1.2rem;
}

input {
    margin-left: 0.5rem;
    cursor: pointer;
}

.dateInfo {
    margin-right: 1rem;
}